/*********************************************/
/*Style maria lopez lopez for listado*/
/********************************************/
/*EMPEZAMOS CON EL FONT*/
@font-face {
    font-family: tex;
    src: url(../font/Orbitron-Regular.ttf);
}
/*********AHORA CON LO QUE VA DENTRO DEL BODY*/
body{
    font-family: tex;
    background-image: url(../img/listado.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 93vh;
    background-color: #7e5deb;
    margin-right:50px;
}
.container{
    max-width: 1000px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    padding-bottom: 10%;
}
h2{
    color: black;
    font-size: 2.5rem;
    text-align: center;
    padding-left: 35px;
    text-shadow:0 0 7px rgb(95, 95, 184),
                0 0 1px #1375fe,
                0 0 1px #1375fe,
                0 0 20px #1375fe,
                0 0 8px #1375fe,
                0 0 8px #1375fe,
                0 0 9px #1375fe,
                0 0 10px #1375fe,
                0 0 15px #1375fe;
}
li{
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.table-header {
    background-color: #6574ff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    border-radius: 20px;
    font-weight: bold;
    color: white;
}
.table-row {
    color: black;
    background-color: #8b98ff;
    border-radius: 20px;
    transition: 0.5s;
}
.col-1 {flex-basis: 16.66%;}

.col-2 {flex-basis: 16.66%;}

.col-3 {flex-basis: 16.66%;}

.col-4 {flex-basis: 16.66%;}

.col-5{flex-basis: 16.66%;}



.col-7 {flex-basis: 5%;}
.fa {
    font-size: 1.3rem!important;
    transition: 0.3s;
    padding-right: 3px;
    cursor: pointer;
}
.fa-trash {color: red;}

.fa-trash:hover {color: rgb(197, 0, 0);}

.fa-pencil-square {color: yellow;}

.fa-pencil-square:hover {color: rgb(197, 197, 0);}

.fa-plus-circle {color: rgb(64, 137, 64);}

.fa-plus-circle:hover {color: rgb(64, 137, 64);}

@media all and (max-width: 1000px) {
    body {height: 135vh;}
    .table-header {display: none;}
    li {display: block;}
    .col {flex-basis: 100%;}
    .col {
        display: flex;
        padding: 10px 0;
        &:before {
            color: #6C7A89;
            padding-right: 10px;
            content: attr(data-label);
            flex-basis: 50%;
            text-align: right;
        }
    }
}