/******************************************************/
/*          Style maria lopez LOGIN CSS               */
/****************************************************/

/*EMPEZAMOS CON LAS FONTS*/
@font-face {
    font-family: tex;
    src: url(../font/Orbitron-Regular.ttf);
}

/*AHORA YA NOS CENTRAMOS EN TODO*/
* {box-sizing: border-box;}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/login.jpg);
    background-size: cover;
    background-position: left;
    height: 98.3vh;
}

form{
    background-color: rgb(101, 101, 149);
    border-radius: 20px;
    padding: 0px 35px 35px 35px;
    border: 0.2rem solid aqua;
    box-shadow: 0 0 0.2rem aqua,
    0 0 .2rem aqua,
    0 0 2rem blue,
    0 0 0.8rem blue,
    0 0 2.8rem blue,
    inset 0 0 1.3rem blue;
}
form * {
    font-family: tex;
    color: black;
    border: none;
}
h2 {
    color: black;
    font-size: 2.5rem;
    text-align: center;
    text-shadow:0 0 7px rgb(95, 95, 184),
                0 0 1px #1375fe,
                0 0 1px #1375fe,
                0 0 20px #1375fe,
                0 0 8px #1375fe,
                0 0 8px #1375fe,
                0 0 9px #1375fe,
                0 0 10px #1375fe,
                0 0 15px #1375fe;
}

label {

    font-size: 1.5rem;
}
input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 1.3rem;
    font-weight: 300;
}




#usernameHelp, #passwordHelp {
    margin-top: 15px;
    margin-bottom: 20px;
    color: red;
    visibility: hidden;
}

/***** SUBMIT *****/
input[type="submit"] {
    width: 100%;
    background-color: #5D28CE;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #441d99;
}